<a href="https://colab.research.google.com/github/Woodedcode/codebreakthrough/blob/main/Calebcurry_python_for_beginners.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#PYTHON FOR BEGINNERS
#### 6 HOUR COURSE

#WORKING WITH NUMBERS

In [45]:
5+5
5/5
5-3
5*4
5+3-2
5+(3*2)
11%2

1

#Parenthesis and Precedence Rules

In [51]:
5+3*2
#* / happen first PEMDAS

(3*2)+(6/2)-1

5/2
3*(2+6)/(2-1)

(3*2)+(6/2)-1

(((5+5)))

10

#Floor Division and Round

In [63]:
5 / 2
print(round(2.5))
#syntax
print(round(10.23))
#function
round(2.555,1)
#round(3.3333333,2)
#expressions
print(round(10/3,2))
#round up or down
import math
print(math.ceil(3.3))
print(math.floor(3.6))

2
10
3.33
4
3

#Print function

In [69]:
print('hello world')
print(5)
print(5 + 5, "hey", 10.3, 'hi', end=' ')

hello world
5
10 hey 10.3 hi

#Creating a Number Variable
####hardcoding numbers is bad

In [78]:
age = 35
print(age + 10)

val = 10/3+2-1*5
print(val)

45
0.3333333333333339

#Python comments

In [80]:
print(2+2)
#this is a comment
print(10+10)
"""


multi line comment



"""
print(2+5)

4
20
7

#Variable nameing rules

In [90]:
#age1 = 20 -good
#age_2 = 13 -good
#age-3 = 3 X -not good
#4age = 4  X -not good
#Age = 6 -not good
#age_of_user = 35 -good
#return = 5 -not good

print(age1)

20

#Floor Division (Double Forward Slash)

In [97]:
import math

result = 10/3
new_result = math.floor(result)

print(new_result)

#preferred way - all in one line
print(math.floor(result))

#double slash eliminates the use of floor
result = 10//4
print(result)

# / ---> float division
# // ---> integer division (math.floor)

3
3
2