<a href="https://colab.research.google.com/github/Woodedcode/codebreakthrough/blob/main/Calebcurry_python_for_beginners_day5_pt2ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#if Statement with Boolean variables

In [8]:
happy = True
if happy == True:
  print("YAY")

happy = True
if happy:
  print("YAY")

happy = False
if happy:
  print("YAY")
elif 5+5 == 10:
  print("true (math)")

  happy = False
if happy:
  print("YAY")
else:
  print(":(")

YAY
YAY
true (math)
:(

#or Operator (Intro to Logical Operators)

In [15]:
name = "Ryen"

if name == "Ryan" or name == "Ryen":
  print("Unite!")


name = "Ryan"

if True or print("Heeyyyyy"):
  print("Unite!")
  print("A lot of stuff")
  input()

Unite!
Unite!
Alot of stuff
12

#and Operator

In [22]:
subscribed = True
email_activated = True

if subscribed:
  print("Welcome")


subscribed = True
email_activated = True

if subscribed or email_activated:
  print("Welcome")

#BOTH HAVE TO BE TRUE

subscribed = True
email_activated = True

if subscribed and email_activated:
  print("Welcome")



subscribed = True
points = 50

if subscribed and points > 30:
  print("Welcome")
  points -= 30
  print("points is now", points)

Welcome
Welcome
Welcome
Welcome
points is now 20

#not Operator

In [28]:
subscribed = False
points = 50

if not subscribed :
  print("redirecting to subscription page")

print(not subscribed)

subscribed = False
points = 50

if not subscribed: # to my youtube channel
  print("slap that sub button")

redirecting to subscription page
True
slap that sub button

#Control Flow and Logic Review

In [30]:
#Any complex program is made possible thanks to control flow statements
#control flow statements include if statements and loops

########## LOGIC ##########

#You must first understand booleans.
#They are either True or False (these are both keywords)
#
happy = True
print(happy)

#There are operators that will return true or false
#These are known as comparison operators

print(5 > 3)
age = 21
print("age >= 21?", age >= 21)

#You can also compare strings:
me = "Caleb"
you = "Nerd"
print("me == you?", me == you)

#Even lists!
my_grades = [100, 100, 100]
your_grades = [100, 100, 1]
print("Same grade?", my_grades == your_grades) #false

your_grades = [100, 100, 100]
print("Same grade?", my_grades == your_grades) #true

#in some languages, == compares by memory address to see if same object
#this is done in python using is.
#This is known as an identity comparison
print("are grades the same object?", my_grades is your_grades) #false

my_grades = your_grades
print("are grades the same object?", my_grades is your_grades) #true

#You can also do order testing for strings
#Read ABC comes before BCD?
print("A before B?", "ABC" < "BCD")

#Not operator can be used to negate an equality check
#Read A is not equal to B?
print("A != B?", "A" != "B")


########### IF STATEMENT ##########


#You may be wondering the user of all of these conditions. They are used within ifs and loops.
#First, the if statement.
print("What's your name?")
name = input()
print("what's your age?")
age = int(input())

if name == "Caleb":
    print("Hey, Caleb")
#otherwise do nothing and continue
#4 spaces over for indent
#THIS INDENT IS IMPORTANT!

#BAD:
if age > 100:
    print("WOW!")
print("You are so old") #executes EVERY time

#GOOD:
if age > 100:
    print("WOW!")
    print("You are so old")

#It is recommended to use 4 spaces instead of a tab.

########## if elif else ##########

if age > 100:
    print("You're old")
elif age > 120:
    print("How are you even alive?")
else:
    print("You may have some years left in you")


########## CONDITIONS WITH BOOLEANS ##########


#When working with a boolean variable, you may think to do this
caleb_is_cool = False
if caleb_is_cool == True:
    print("Let's be friends")
else:
    print("Eww")


#since the == operator returns True or False, and the variable is already false...
#We can do this instead:
caleb_is_cool = False
if caleb_is_cool:
    print("Let's be friends")
else:
    print("Eww")


########## LOGICAL OPERTATORS #########


#Logical operators can be used to make complex expressions that ultimately evaluate to true or false.
#and --> both must be true
#or --> one must be true
#not --> negates (flips)


#An example with or
thunder = False
lighting  = True

if lighting or thunder:
    print("Don't go swimming!")

#An example with and
car_nice = True
on_sale = False

if car_nice and on_sale:
    print("Buy the car!") #This will not execute!

#An example with not AND and
temp_outside = 50
pool_heated = False

if temp_outside < 60 and not pool_heated:
    print("Don't go swimming!")

#this can be confusing, so it might be best to read it as english
#however, logically... pool_heated is false so not pool_heated is true.
#therefore, both sides are true.

True
True
age >= 21? True
me == you? False
Same grade? False
Same grade? True
are grades the same object? False
are grades the same object? True
A before B? True
A != B? True
What's your name?
ryan
what's your age?
35
You are so old
You may have some years left in you
Eww
Eww
Don't go swimming!
Don't go swimming!

#For Loop

In [36]:
friends = ["annie", "melanie", 'mike', 'rob']
print(friends)

for friend in friends:
  print(friend)

for friend in friends:
  print(friend, end=" ")
print()

['annie', 'melanie', 'mike', 'rob']
annie
melanie
mike
rob
annie melanie mike rob

# Print without Newline using end Parameter

In [39]:
for pizza in range(10): #exclusive
  print(pizza + 1)

1
2
3
4
5
6
7
8
9
10

#Range Starting Position

In [41]:
for pizza in range(231,501):
  print(pizza, end=" ")
print()

231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500

#Step in Range Explained

In [46]:
for pizza in range(200,0,-1):
  print(pizza, end=" ")
print()

200 199 198 197 196 195 194 193 192 191 190 189 188 187 186 185 184 183 182 181 180 179 178 177 176 175 174 173 172 171 170 169 168 167 166 165 164 163 162 161 160 159 158 157 156 155 154 153 152 151 150 149 148 147 146 145 144 143 142 141 140 139 138 137 136 135 134 133 132 131 130 129 128 127 126 125 124 123 122 121 120 119 118 117 116 115 114 113 112 111 110 109 108 107 106 105 104 103 102 101 100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

#Range Sum

In [57]:
for i in range(10):
  print(i)

#print(sum(range(10)))


sum = 0

for i in range(10):
  print(i)
  sum += i

print(sum)

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
45

#Create a List from Range

In [60]:
for i in range(10):
  print(i, end=" ")
print()

my_list = list(range(10))
print(my_list)

my_list = [1,2,3,4,5,6,7,8,9]
print(my_list)

0 1 2 3 4 5 6 7 8 9
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]