<a href="https://colab.research.google.com/github/Woodedcode/codebreakthrough/blob/main/Python_ZTM_day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TUPLES - data structure - IMMUTABLE LISTS

faster than lists

a dictionary can have keys that are immutable

typle is a valid key

In [15]:
my_tuple = (1,2,3,4,5)
#my_tuple[1] = 'z'
print(my_tuple[1])
print(5 in my_tuple)

user = {
    (1,2): [1,2,3],
    'greet': 'hello',
    'age': 20
}

print(user[(1,2)])
#\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
my_tuple = (1,2,3,4,5)
new_tuple = my_tuple[1:2]
print(new_tuple)
new_tuple = my_tuple[1:4]
print(new_tuple)

x,y,z, *other = (1,2,3,4,5)
print(x)
print(y)
print(z)
print(other)


#\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ TUPLE METHODS
my_tuple = (1,2,3,4,5,5,5)
print(my_tuple.count(5))
print(my_tuple.index(5))
print(len(my_tuple))

2
True
[1, 2, 3]
(2,)
(2, 3, 4)
1
2
3
[4, 5]
3
4
7

#SETS

unordered collection of unique objects

In [25]:
my_list = [1,2,3,4,5,5]
print(my_list)
print(set(my_list))
#\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
my_set = {1,2,3,4,5}
#my_set.add(100)
#my_set.add(2)
print(my_set)
#\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
my_set = {1,2,3,4,5,5}
#print(my_set[0])
print(1 in my_set)
print(len(my_set))
print(list(my_set))
new_set = my_set.copy()
print(new_set)

[1, 2, 3, 4, 5, 5]
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
True
5
[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}

#SETS METHODS

#### .difference() - shows the difference between sets
#### .discard() -
#### .difference_update() -
#### .ntersection() -
#### .insidjoint() -
#### .issubset() -
#### .issuperset() -
#### .union() -

In [57]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}

# .difference() - shows the difference between sets
print('.difference')
print(my_set.difference(your_set))
# .discard() - removes an element from a set if it is a member
print('.discard')
print(my_set.discard(5))
print(my_set)
# .difference_update() - removes all elements of another set from this set
print('.difference_update')
print(my_set.difference_update(your_set))
print(my_set)

# .intersection() -
print('.intersection')
print(my_set.intersection(your_set))
print(my_set & your_set)
# .insidjoint() -
print('.isdisjoint')
print(my_set.isdisjoint(your_set))

# .issubset() -
my_set = {4,5}
print('.issubset')
print(my_set.issubset(your_set))

# .issuperset() -
print('.issuperset')
print(my_set.issuperset(your_set))
print(your_set.issuperset(my_set))

# .union() - adds both sets together but removes any duplicates
print('.union')
print(my_set.union(your_set))
print(my_set | your_set)



common_elements = set1.intersection(list1)
print(common_elements)

.difference
{1, 2, 3}
.discard
None
{1, 2, 3, 4}
.difference_update
None
{1, 2, 3}
.intersection
set()
set()
.isdisjoint
True
.issubset
True
.issuperset
False
True
.union
{4, 5, 6, 7, 8, 9, 10}
{4, 5, 6, 7, 8, 9, 10}
{3, 4}