<a href="https://colab.research.google.com/github/Woodedcode/codebreakthrough/blob/main/Python_ZTM_day67ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#WHILE LOOPS

while condition:
  print(something)

In [4]:
i = 0

#while i < 50:
  #print(i)
  #i += 1

  #you can also add 'else' blocks

while i < 50:
  print(i)
  i += 1
else:
  print('done with all the work')

#else is a special case. will only execute if there isnt a break. you will see eslse is used as a gotchya if there isnt a break statement

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
done with all the work

#WHILE LOOPS 2

In [13]:
while i < 50:
  print(i)
  i += 1
else:
  print('done with all the work')

  #EX

  for item in [1,2,3]:
    print(item)

i = 0
while i < len([1,2,3]):
  print(i)
  i += 1


my_list = [1,2,3]
for item in my_list:
  print(item)

i = 0
while i< len([1,2,3]):
  print(my_list[i])
  i += 1

#while loop needs something to stop the loop from going
#simple loops or iterating over iterable objects, for looks are great.



#while True:
  #input('say something)
  #break


while True:
  response = input('say something: ')
  if (response == 'bye'):
    break

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
done with all the work
1
2
3
0
1
2
1
2
3
1
2
3
say something: hi
say something: hi
say something: h
say something: io
say something: bye

#BREAK, CONTINUE, PASS


**break** - works in *for* and *while* loops
breaks out of the current and enclosing loop
**continue** - works in *for* and *while* loops
tell the code to continue on. just goes to the very begging till it ends
**pass** - works in *for* and *while* loops
npot very useful. passes the code along for tests

In [ ]:
#break
#continue
#pass

#OUR FIRST GUI

In [18]:
picture = [
    [0,0,0,1,0,0,0],
    [0,0,1,1,1,0,0],
    [0,1,1,1,1,1,0],
    [1,1,1,1,1,1,1],
    [0,0,0,1,0,0,0],
    [0,0,0,1,0,0,0]
]

# iterate over picture.
# if 0 -> print ' '
# if 1 -> print  *
for row in picture:
  for pixel in row:
    if pixel == 1:
      print('*', end='')
    else:
      print(' ', end='')
  print(' ')

   *
  ***
 *****
*******
   *
   *

#DEVELOPER FUNDAMENTALS: IV

In [23]:
#What is good code?

#clean
  #use auto format
#readability
  #use comments if needed
#predictability
  #have code that makes sense
#DRY
  #do not repeat yourself



for row in picture:
  for pixel in row:
    if pixel:
      print('*', end='')
    else:
      print(' ', end='')
  print(' ')


fill = '$'
empty = ''
for row in picture:
  for pixel in row:
    if (pixel):
      print(fill, end='')
      print(fill, end='')
      print(fill, end='')
    else:
      print(empty, end='')
  print(' ')

   *
  ***
 *****
*******
   *
   *
$$$
$$$$$$$$$
$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$
$$$
$$$

#EXERCISE: FIND DUPLICATES

In [26]:
#Exercise: check for duplicatest in list.
some_list = ['a','b','c','b','d','m','n','n']

duplicates = []

for value in some_list:
  if some_list.count(value) > 1:
    if value not in duplicates:
      duplicates.append(value)

print(duplicates)

['b', 'n']

#FUNCTIONS

In [32]:
#define a function
#DRY
def say_hello():
  print('hello')

say_hello()

def show_tree():
  for image in picture:
    for pixel in image:
      if pixel == 1:
        print('*', end='')
      else:
        print(' ', end='')
    print(' ')

show_tree()
show_tree()
show_tree()
print(show_tree())

hello
   *
  ***
 *****
*******
   *
   *
   *
  ***
 *****
*******
   *
   *
   *
  ***
 *****
*******
   *
   *
   *
  ***
 *****
*******
   *
   *
None

#PARAMETERS AND ARGUMENTS

In [36]:
#parameters
def say_hello(name,emoji):
  print(f'hello {name} {emoji}')

#arguments
say_hello('Ryan','😀') # call or invoke
say_hello('Annie','😀')
say_hello('Olive','😀')

hello Ryan 😀
hello Annie 😀
hello Olive 😀

#DEFAULT PARAMETERS AND KEYWORD ARGUMENTS

In [43]:
# positional parameters
# default parameters
def say_hello(name,emoji):
  print(f'hello {name} {emoji}')

# positional arguments
say_hello('Ryan','😀') # call or invoke
say_hello('Annie','😀')
say_hello('Olive','😀')

# keyword arguments
#say_hello(emoji='😀', name='Annie')


# default parameters
def say_hello(name='Darth Vader',emoji='😀'):
  print(f'hello {name} {emoji}')

say_hello('Johnny')

hello Ryan 😀
hello Annie 😀
hello Olive 😀
hello Johnny 😀

#RETURN

In [53]:
#return

def sum(num1, num2):
  num1 + num2


print(sum(4,5))

#clears the list- modifyis the existing list
[1,2,3].clear()



def sum(num1, num2):
  return num1 + num2

print(sum(4,5))
print(sum(10,5))

# a function should do one thing
# Should return something

total = sum(15,5)
print(sum(10,total))
print(sum(10,sum(10,5)))


def sum(num1, num2):
  def another_func(num1, num2):
    return num1 + num2
  return another_func(num1, num2)

total = sum(10,20)
print(total(10,20))

None
9
15
30
25
30