<a href="https://colab.research.google.com/github/Woodedcode/codebreakthrough/blob/main/Python_ZTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fundamental Data Types

int - integer EX: 3,4,5
float -  floating point number EX: 1.2

In [7]:
#integers
print(2 + 4)
print(type(6))
print(type(2 - 4))
print(type(2 * 4))
print(type(2 / 4))
print(type(0.000001))
print(type(5.000001))
print(type(0))

#power of
print(2**3)

#integer rounded down
print(5//4)


#modulo
print(5%4)

6
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'int'>
8
1
1

#MATH FUNCTIONS

type and print functions you can use

#Math functions

####round
round(number, ndigits)

In [11]:
print(round(3.1))
#no negative numbers
print(abs(-20))

3
20

#OPERATOR PRECEDENCE

###PEMDAS

20 + 3 * 4
20 + (3 * 4)

In [12]:
print(20 + (3 * 4))
print(20 - 3 * 4)

# () wrapped in a bracket, you do first
# ** power of
# * / multiplication and division
# + - addition and subtraction
print((20 - 3) + 2 ** 2)

32
8
21

#OPTIONAL: bin() and complex
####BINARY NUMBERS

In [18]:
#binary number
print(bin(5))
print(int('0b101', 2))

0b101
5

#VARIABLES

In [24]:
user_iq = 190
print(user_iq)
user_age = user_iq / 4
print(user_age)

#constants
PI = 3.14
print(PI)

a,b,c = 1,2,3
print(a)
print(b)
print(c)

190
47.5
3.14
1
2
3

#EXPRESSIONS VS STATENTS

In [25]:
iq = 100
user_age = iq / 5
print(user_age)

20.0

#AUGMENTED ASSIGNMENT OPERATOR


sum_value = 5
some_value = some_value + 2

In [37]:
some_value = 5
#some_value = some_value + 2
#print(some_value)
#sum_value = 5
#some_value = some_value + 2
#print(some_value)
#some_value -= 2
#print(some_value)
some_value *= 2
print(some_value)

10

#STRINGS

In [44]:
phrase = 'hi hello there'
print(phrase)
phrase1 = "hi hello there 24!"
print(type(phrase1))

user_name = 'supercoder'
password = 'supersecret'
long_string = '''
WOW
0 0
___
'''

print(long_string)

first_name = 'Ryan'
last_name = 'Woods'

full_name = first_name + ' ' + last_name
print(full_name)

hi hello there
<class 'str'>

WOW
0 0
___

Ryan Woods

#STRING CONCATENATION