<a href="https://colab.research.google.com/github/Woodedcode/codebreakthrough/blob/main/Python_ZTM_day6ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#LOGICAL OPERATORS

**and** is a logical operator

**or** is a logical operator

**<, >, ==, >=, <=, !=**

**not** is a logical operator and a **function**

###EXERCISE - LOGICAL OPERATORS

In [6]:
is_magician = True
is_expert = False

#check if magician AND expert: "you are a master magician."
#check if magician but not expert: "at least you're getting there."

if is_magician and is_expert:
  print('you are a master magician.')
elif is_magician and not is_expert:
  print('at least you\'re getting there.')
elif not is_magician:
  print('you need magic powers')

at least you're getting there.

#is vs ==

In [9]:
print(True == 1)
print('' == 1)
print([] == 1)
print(10 == 10.0)
print([] == [])

#== - checks for equality

print(True == bool(1))
print('' == 1) # '' is falsy, so its falsy. some one of them gets converted to it
print([] == 1) # empty array is actually falsy
print(10 == 10.0) # int or float gets converted to the other one and it is true
print([] == []) # empty array equals to an empty arrray

#is checks the location in memory where the value is stored is the same
print('is')
print(True is 1)
print('' is 1)
print([] is 1)
print(10 is 10.0)
print([] is [])

True
False
False
True
True
True
False
False
True
True
is
False
False
False
False
False

<>:17: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:18: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:19: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:20: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:17: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:18: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:19: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:20: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipython-input-9-127970315.py:17: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(True is 1)
/tmp/ipython-input-9-127970315.py:18: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('' is 1)
/tmp/ipython-input-9-127970315.py:19: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print([] is 1)
/tmp/ipython-input-9-127970315.py:20: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(10 is 10.0)

#FOR LOOPS

In [21]:
for item in 'Zero to Mastery':
  print(item)
print('/\/\/\/\/\/\/\LIST/\/\/\/\/\/')
for item in [1,2,3,4,5]:
  print(item)
print('/\/\/\/\/\/\/\SET/\/\/\/\/\/')
for item in {1,2,3,4,5}:
  print(item)
print('/\/\/\/\/\/\/\/\TUPLE/\/\/\/\/')
for item in (1,2,3,4,5):
  print(item)
print('/\/\/\/\/\/\/\/\DICTIONARY/\/\/\/\/')
for item in[1,2,3,4,5]:
  print(item)


for item in (1,2,3,4,5):
  for x in ['a', 'b', 'c']:
    print(item,x)

Z
e
r
o

t
o

M
a
s
t
e
r
y
/\/\/\/\/\/\/\LIST/\/\/\/\/\/
1
2
3
4
5
/\/\/\/\/\/\/\SET/\/\/\/\/\/
1
2
3
4
5
/\/\/\/\/\/\/\/\TUPLE/\/\/\/\/
1
2
3
4
5
/\/\/\/\/\/\/\/\DICTIONARY/\/\/\/\/
1
2
3
4
5
1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c

#ITERABLES

**key term** - it is an object or a collection that can be iterated over.

###iterable -> list, dictionary, tuple, set, string
###iterate -> one by one check each item in the collection

In [33]:
#object
user = {
    'name': 'Golem',
    'age': 5006,
    'can_swim': False
}

for key, value in user.items():
  print(key,value, 'tuple')

for item in user.values():
  print(item, 'value')

#most informative way
for item in user.items():
  print(item, 'keys')

name Golem tuple
age 5006 tuple
can_swim False tuple
Golem value
5006 value
False value
('name', 'Golem') keys
('age', 5006) keys
('can_swim', False) keys

#EXERCISE: TRICKY COUNTER

In [35]:
#counter

my_list = [1,2,3,4,5,6,7,8,9,10]

counter = 0

for item in my_list:
  counter = counter + item
print(counter)

55

#range()

In [43]:
print(range(100))

for number in range(0,10):
  print(number)

for number in range(0,10):
  print('email list')

#can use if you dont care what the variable is
for _ in range(0,10,2):
  print(_)

for _ in range(10,0,-1):
  print(_)

for _ in range(10, 0, -2):
  print(list(range(10)))

range(0, 100)
0
1
2
3
4
5
6
7
8
9
email list
email list
email list
email list
email list
email list
email list
email list
email list
email list
0
2
4
6
8
10
9
8
7
6
5
4
3
2
1
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#ENUMERATE

In [52]:
for i,char in enumerate('Hello'):
  print(i,char)

print('/\/\/\/\/\/\/\/')
for i,char in enumerate(list(range(10))):
  print(i,char)
print('/\/\/\/\/\/\/\/')
for i,char in enumerate(list(range(100))):
  if char == 50:
    print(f'index of 50 is: {i}')

0 H
1 e
2 l
3 l
4 o
/\/\/\/\/\/\/\/
0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
/\/\/\/\/\/\/\/
index of 50 is: 50