<a href="https://colab.research.google.com/github/Woodedcode/codebreakthrough/blob/main/Python_ZTM_day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#IMMUTABILITY

In [ ]:
selfish = '1234567'
#slicing
#print(slelfish[start:stop:step])


#IMMUTABILITY - strings in python are immutable -> strings cannot change the value of a string -> ability to change is something re-assigned or create something new
selfish = 100

print(selfish)

selfish[0] = 8

print(selfish)

#BUILT IN FUNCTIONS AND METHODS

str()
int()
float()
type()
print()
len()

In [13]:
greet = 'hellloooo'
print(greet[:])
print(greet[0:9])

#python string methods - https://www.w3schools.com/python/python_ref_string.asp

quote = 'to be or not to be'

print(quote.upper())
print(quote.capitalize())
print(quote.find('be'))
print(quote.replace('be', 'me'))
print(quote)
quote2 = quote.replace('be','me')
print(quote2)

hellloooo
hellloooo
TO BE OR NOT TO BE
To be or not to be
3
to me or not to me
to be or not to be
to me or not to me

#BOOLEANS

bool - True or False

In [18]:
name = 'Ryan'
is_cool = False

is_cool = True

print(bool(1))
print(bool(0))
print(bool('True'))

True
False
True

#EXERCISE: TYPE CONVERSION

In [28]:
name = 'Ryan Woods'
age = 35
relationship_status = 'Married'
print(relationship_status)
relationship_status = 'It\'s complicated'
print(relationship_status)

#\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

birth_year = input('What year were you born?')
age = 2025 - int(birth_year)
print(f'Your age is: {age}')

Married
It's complicated
What year were you born?1989
Your age is: 36

#DEVELOPER FUNDAMENTALS: II

In [29]:
#commenting your code
name = 'Ryan' #this assigns to a variable

#EXERCISE: PASSWORD CHECKER

In [34]:
username = input('What is your username?')
password = input('What is your password?')
#takes two inputs and

password_length = len(password)
hidden_password = '*' * password_length

print(f'{username}, your password, {hidden_password}, is {len(password)} letters long')

What is your username?Ryan
What is your password?abcdefg
Ryan, your password, *******, is 7 letters long

#LISTS

In [37]:
li = [1,2,3,4,5]
li2 = ['a','b','c']
li3 = [1,2,'a',True]


# Data structure


amazon_cart = ['notebooks', 'sunglasses']
print(amazon_cart[0])
print(amazon_cart[1])
#print(amazon_cart[2])

notebooks
sunglasses

#LIST SLICING

In [51]:
#list slicing
string = 'hellloooo'
print(string[0:4:1])

amazon_cart = [
    'notebooks',
    'sunglasses',
    'toys',
    'grapes'
    ]
print(amazon_cart)
print(amazon_cart[0:2])
print(amazon_cart[0::2])

amazon_cart[0] = 'laptop'
new_cart = amazon_cart[0:3]#[:]
new_cart[0] = 'gum'
print(new_cart)
print(amazon_cart)
print(amazon_cart[1:3])
print(amazon_cart[0:3])
print(amazon_cart)

hell
['notebooks', 'sunglasses', 'toys', 'grapes']
['notebooks', 'sunglasses']
['notebooks', 'toys']
['gum', 'sunglasses', 'toys', 'grapes']
['gum', 'sunglasses', 'toys', 'grapes']
['sunglasses', 'toys']
['gum', 'sunglasses', 'toys']
['gum', 'sunglasses', 'toys', 'grapes']

#MATRIX
- a way to describe 2d lists or multidimentional lists
- Array with another array inside of it

In [53]:
#Matrix
matrix = [
    [1,2,3],
    [2,4,6],
    [7,8,9],
]

print(matrix[0][1])

2

# LIST METHODS
- .append() - to add to the list

In [79]:
basket = [1,2,3,4,5]

#adding
new_list = basket.append(100)
print(basket)
print(new_list)


#adding correctly
basket.append(100)
new_list = basket
print(basket, "basket")
print(new_list, "new list")

#inset
basket.insert(5,100)
print(basket)

new_list = basket.insert(5,100)
print(basket, "basket")
print(new_list, "new list")



#extend
new_list = basket.extend([100,101])
print(basket, "basket")
print(new_list, "new list")



#removing
#basket.remove(4)
#print(basket,".remove")

new_list = basket.remove(4)
print(basket, 'remove')


#pop
basket.pop()
print(basket, ".pop")
basket.pop()
print(basket, ".pop")
basket.pop(0)
print(basket, ".pop")



#clear
new_list = basket.clear()
print(basket, 'basket')

[1, 2, 3, 4, 5, 100]
None
[1, 2, 3, 4, 5, 100, 100] basket
[1, 2, 3, 4, 5, 100, 100] new list
[1, 2, 3, 4, 5, 100, 100, 100]
[1, 2, 3, 4, 5, 100, 100, 100, 100] basket
None new list
[1, 2, 3, 4, 5, 100, 100, 100, 100, 100, 101] basket
None new list
[1, 2, 3, 5, 100, 100, 100, 100, 100, 101] remove
[1, 2, 3, 5, 100, 100, 100, 100, 100] .pop
[1, 2, 3, 5, 100, 100, 100, 100] .pop
[2, 3, 5, 100, 100, 100, 100] .pop
[] basket

#LIST METHODS 2

In [92]:
basket = ['a','b','c','d','e']

print(basket.index('d',0,4))
print('d' in basket)
print('x' in basket)
print('i' in 'hi my name is Ryan')


# .count()
print(basket.count('d'))

3
True
False
True
1

#LIST METHOD 3

In [107]:
#.sort
basket = ['a','x','b','c','d','e','d']

#basket.sort()

#new_basket = basket[:]
#new_basket.sort()
#print(new_basket)
print(sorted(basket))
print(basket)


#.reverse
basket.sort()
basket.reverse()
print(basket, 'reversed')

['a', 'b', 'c', 'd', 'd', 'e', 'x']
['a', 'x', 'b', 'c', 'd', 'e', 'd']
['x', 'e', 'd', 'd', 'c', 'b', 'a'] reversed

#COMMON LIST PATTERNS